<a href="https://colab.research.google.com/github/Mehak7352/EXm/blob/main/python_ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT 1

In [1]:
s1 = "Hello"
s2 = "World"
res = s1 + " " + s2
print(res)

Hello World

In [2]:
str1 = "PythonProgramming"
length = len(str1)
print("Length of the string:", length)

Length of the string: 17

In [3]:
str1 = "ProgrammingIsFun"
fifth_char = str1[4]
print("The 5th character is:", fifth_char)

The 5th character is: r

In [4]:
str1 = "LearnPythonFast"
substring = str1[5:11]
print("The extracted substring is:", substring)

The extracted substring is: Python

In [5]:
str1 = "PythonRocks"
reversed_str = str1[::-1]
print("The reversed string is:", reversed_str)

The reversed string is: skcoRnohtyP

In [7]:

str1 = "PythonIsFun"
substring = "fun"
for i in range(len(str1) - len(substring) + 1):
    if str1[i:i + len(substring)] == substring:
        print("Substring 'Fun' found!")
        break
else:
    print("Substring 'Fun' not found.")

Substring 'Fun' not found.

In [8]:
str1 = "PythonIsAmazing"
uppercase_str = ""

for char in str1:
    if 'a' <= char <= 'z':
        uppercase_char = chr(ord(char) - 32)
    else:
        uppercase_char = char

    uppercase_str += uppercase_char

print(uppercase_str)

PYTHONISAMAZING

In [9]:
str1 = "banana"
result = ""

for char in str1:
    if char == "a":
        result += "@"
    else:
        result += char

print(result)

b@n@n@

In [10]:
str1 = "abcdefghij"
odd_indexed_chars = ""

for i in range(len(str1)):
    if i % 2 != 0:
        odd_indexed_chars += str1[i]

print("Odd-indexed characters:", odd_indexed_chars)

Odd-indexed characters: bdfhj

In [11]:
str1 = "I love apples, apple are my favorite fruit "
count_apples = str1.lower().count("apple") + str1.lower().count("apples")

print("Number of apples:", count_apples)

Number of apples: 3

In [14]:
str1 = "madam"

if str1 == str1[::-1]:
    print(f"'{str1}' is a palindrome")
else:
    print(f"'{str1}' is not a palindrome")

'madam' is a palindrome

In [15]:
str1 = " Python is awesome "
str1 = str1.strip()
print("String after removing spaces:", str1)

String after removing spaces: Python is awesome

In [16]:
str1 = "WelcomeToPython"
first_character = str1[0]
last_character = str1[-1]

print(f"The first character is: '{first_character}'")
print(f"The last character is: '{last_character}'")

The first character is: 'W'
The last character is: 'n'

In [17]:
str1 = "abcdefghijkl"
new_str = str1[::2]

print("Original string:", str1)
print("New string:", new_str)

Original string: abcdefghijkl
New string: acegik

In [18]:
str1 = "LearnPython"
starts_with = str1[:5] == "Learn"
ends_with = str1[-6:] == "Python"

if starts_with and ends_with:
    print(f'The string "{str1}" starts with "Learn" and ends with "Python".')
else:
    print(f'The string "{str1}" does not start with "Learn" or does not end with "Python".')

The string "LearnPython" starts with "Learn" and ends with "Python".

ASSIGNMENT 2

In [21]:

product_price = 50
quantity_sold = 120
discount_percentage = 10

total_price = product_price * quantity_sold
discount_amount = total_price * (discount_percentage / 100)
total_revenue = total_price - discount_amount
print(f"Total Revenue after applying the discount: ${total_revenue:.2f}")

Total Revenue after applying the discount: $5400.00

In [22]:

total_revenue = 2400.00
days_open = 30
average_sales_per_day = total_revenue / days_open
print(f"Average Sales per Day: ${average_sales_per_day:.2f}")

Average Sales per Day: $80.00

In [23]:

cost_price_per_unit = 30
product_price = 50
quantity_sold = 70

profit_per_unit = product_price - cost_price_per_unit

total_profit = profit_per_unit * quantity_sold
print(f"Total Profit: ${total_profit:.2f}")

Total Profit: $1400.00

In [24]:

original_price = 60
discounted_price = 50

discount_amount = original_price - discounted_price
discount_percentage = (discount_amount / original_price) * 100
print(f"Discount Percentage: {discount_percentage:.2f}%")

Discount Percentage: 16.67%

In [25]:

quantity_sold = 120
box_capacity = 10
remainder = quantity_sold % box_capacity
print(f"Remainder when dividing the quantity sold by the box capacity: {remainder}")

Remainder when dividing the quantity sold by the box capacity: 0

Assignment 3

In [26]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "Undefined (cannot divide by zero)"

print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")

Enter the first number: 3
Enter the second number: 5
Addition: 8.0
Subtraction: -2.0
Multiplication: 15.0
Division: 0.6

In [27]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
average = (num1 + num2 + num3) / 3
print(f"The average of {num1}, {num2}, and {num3} is: {average}")

Enter the first number: 5
Enter the second number: 6
Enter the third number: 4
The average of 5.0, 6.0, and 4.0 is: 5.0

In [29]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

average = (num1 + num2 + num3) / 3
print(f"The average of {num1}, {num2}, and {num3} is: {average}")

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30
The average of 10.0, 20.0, and 30.0 is: 20.0

In [31]:

principal = float(input("Enter the principal amount : "))
rate_of_interest = float(input("Enter the rate of interest  in percentage: "))
time_period = float(input("Enter the time period  in years: "))
simple_interest = (principal * rate_of_interest * time_period) / 100
print(f"The simple interest is: {simple_interest}")

Enter the principal amount : 500
Enter the rate of interest  in percentage: 4
Enter the time period  in years: 3
The simple interest is: 60.0

In [32]:

principal = float(input("Enter the principal amount : "))
rate_of_interest = float(input("Enter the rate of interest in percentage: "))
time_period = float(input("Enter the time period in years: "))
n = int(input("Enter the number of times interest is compounded per year (n): "))
compound_interest = principal * (1 + (rate_of_interest / (n * 100)))**(n * time_period)
print(f"The compound interest is: {compound_interest - principal}")
print(f"The total amount after {time_period} years is: {compound_interest}")

Enter the principal amount : 1000
Enter the rate of interest in percentage: 5
Enter the time period in years: 3
Enter the number of times interest is compounded per year (n): 1
The compound interest is: 157.62500000000023
The total amount after 3.0 years is: 1157.6250000000002

In [33]:
import math
number = float(input("Enter a number to find its square root: "))
if number < 0:
    print("Square root is not defined for negative numbers.")
else:
    square_root = math.sqrt(number)
    print(f"The square root of {number} is: {square_root}")

Enter a number to find its square root: 200
The square root of 200.0 is: 14.142135623730951

In [34]:
import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * (radius ** 2)
print(f"The area of the circle with radius {radius} is: {area}")

Enter the radius of the circle: 5
The area of the circle with radius 5.0 is: 78.53981633974483

In [35]:

length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
area = length * width
print(f"The area of the rectangle with length {length} and width {width} is: {area}")

Enter the length of the rectangle: 5
Enter the width of the rectangle: 4
The area of the rectangle with length 5.0 and width 4.0 is: 20.0

In [36]:

base = float(input("Enter the length of the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = (base * height) / 2
print(f"The area of the right-angled triangle with base {base} and height {height} is: {area}")

Enter the length of the base of the triangle: 6
Enter the height of the triangle: 4
The area of the right-angled triangle with base 6.0 and height 4.0 is: 12.0

In [37]:

a = input("Enter the first variable (a): ")
b = input("Enter the second variable (b): ")
print(f"Before swapping: a = {a}, b = {b}")
temp = a
a = b
b = temp
print(f"After swapping: a = {a}, b = {b}")

Enter the first variable (a): 5
Enter the second variable (b): 6
Before swapping: a = 5, b = 6
After swapping: a = 6, b = 5

In [39]:

fahrenheit = float(input("Enter the temperature in Fahrenheit: "))
celsius = (fahrenheit - 32) * 5 / 9
print(f"{fahrenheit} degrees Fahrenheit is equal to {celsius:.2f} degrees Celsius.")

Enter the temperature in Fahrenheit: 58
58.0 degrees Fahrenheit is equal to 14.44 degrees Celsius.

In [40]:
import calendar
year = int(input("Enter the year: "))
month = int(input("Enter the month  "))
print(calendar.month(year, month))

Enter the year: 2006
Enter the month  3
     March 2006
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [43]:

total_days = int(input("Enter the number of days: "))
years = total_days // 365
remaining_days = total_days % 365
weeks = remaining_days // 7
days = remaining_days % 7
print(f"{total_days} days is approximately {years} years, {weeks} weeks, and {days} days.")

Enter the number of days: 365
365 days is approximately 1 years, 0 weeks, and 0 days.

ASSIGNMENT 4

In [44]:

number = int(input("Enter an integer: "))
if number % 2 == 0:
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

Enter an integer: 5
5 is an odd number.

In [45]:

number = float(input("Enter a number: "))
if number > 0:
    print(f"{number} is a positive number.")
elif number < 0:
    print(f"{number} is a negative number.")
else:
    print("The number is zero.")

Enter a number: 4
4.0 is a positive number.

In [46]:

age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 19
You are eligible to vote.

In [47]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
largest = num1

if num2 > largest:
    largest = num2
if num3 > largest:
    largest = num3

print(f"The largest number among {num1}, {num2}, and {num3} is: {largest}")

Enter the first number: 6
Enter the second number: 10
Enter the third number: 2
The largest number among 6.0, 10.0, and 2.0 is: 10.0

In [50]:

number = int(input("Enter a number: "))
if number % 3 == 0 and number % 5 == 0:
    print(f"{number} is divisible by both 3 and 5.")
else:
    print(f"{number} is not divisible by both 3 and 5.")

Enter a number: 15
15 is divisible by both 3 and 5.

In [51]:

score = float(input("Enter the student's score: "))
if score >= 90:
    grade = 'A'
elif score >= 70:
    grade = 'B'
elif score >= 50:
    grade = 'C'
else:
    grade = 'F'
print(f"The student's grade is: {grade}")

Enter the student's score: 60
The student's grade is: C

In [52]:

score = float(input("Enter the student's score: "))
attendance_percentage = float(input("Enter the attendance percentage: "))
if score > 50 or attendance_percentage >= 75:
    print("The student passes the exam.")
else:
    print("The student does not pass the exam.")

Enter the student's score: 55
Enter the attendance percentage: 76
The student passes the exam.

In [53]:

day = input("Enter a day of the week: ").strip().lower()
is_weekend = day == "saturday" or day == "sunday"
print(is_weekend)

Enter a day of the week: 4
False

In [54]:

is_member = input("Are you a member? (yes/no): ").strip().lower()
purchase_amount = float(input("Enter your purchase amount: "))
if is_member == "yes" or purchase_amount > 100:
    eligible_for_discount = True
else:
    eligible_for_discount = False
print(f"Eligible for discount: {eligible_for_discount}")

Are you a member? (yes/no): yes
Enter your purchase amount: 300
Eligible for discount: True

In [56]:

correct_username = "user123"
correct_password = "pass123"
username = input("Enter your username: ")
password = input("Enter your password: ")
if username == correct_username or password == correct_password:
    print("Login successful!")
else:
    print("Login failed. Please try again.")

Enter your username: user123
Enter your password: pass123
Login successful!

In [57]:

score = float(input("Enter the student's score: "))
if 90 <= score <= 100:
    grade = "Excellent"
elif 70 <= score < 90:
    grade = "Good"
elif 50 <= score < 70:
    grade = "Average"
elif score < 50:
    grade = "Fail"
else:
    grade = "Invalid score"
print(f"The student's grade classification is: {grade}")

Enter the student's score: 90
The student's grade classification is: Excellent

In [58]:

age = int(input("Enter your age: "))
is_citizen = input("Are you a citizen? (yes/no): ").strip().lower()
if age >= 18 and is_citizen == "yes":
    eligible_to_vote = True
else:
    eligible_to_vote = False
print(f"Eligible to vote: {eligible_to_vote}")

Enter your age: 19
Are you a citizen? (yes/no): yes
Eligible to vote: True

In [59]:

is_member = input("Are you a member? (yes/no): ").strip().lower()
total_purchase = float(input("Enter your total purchase amount: "))
if is_member == "yes" and total_purchase > 200:
    discount = "Premium discount"
elif is_member == "yes" or total_purchase > 100:
    discount = "Regular discount"
else:
    discount = "No discount"
print(f"Discount eligibility: {discount}")

Are you a member? (yes/no): yes
Enter your total purchase amount: 200
Discount eligibility: Regular discount

In [60]:

age = int(input("Enter your age: "))
passed_driving_test = input("Have you passed the driving test? (yes/no): ").strip().lower()
if age >= 18 and passed_driving_test == "yes":
    eligible_for_license = True
else:
    eligible_for_license = False
print(f"Eligible for driver's license: {eligible_for_license}")

Enter your age: 20
Have you passed the driving test? (yes/no): yes
Eligible for driver's license: True

In [63]:

base_price = 10.00
age = int(input("Enter your age: "))
time_of_day = input("Enter the time of day (HH:MM AM/PM): ").strip()
time_parts = time_of_day.split()
hour_minute = time_parts[0].split(':')
hour = int(hour_minute[0])
minute = int(hour_minute[1])
if time_parts[1].lower() == 'pm' and hour != 12:
    hour += 12
elif time_parts[1].lower() == 'am' and hour == 12:
    hour = 0

ticket_price = base_price
if age < 12 or age > 60:
    ticket_price *= 0.8
if 18 <= hour < 21:
    ticket_price *= 1.1
print(f"The price of the movie ticket is: ${ticket_price:.2f}")

Enter your age: 10
Enter the time of day (HH:MM AM/PM): 7:30 PM
The price of the movie ticket is: $8.80

ASSIGNMENT 5

In [64]:

number = 1
while number <= 10:
    print(number)
    number += 1

1
2
3
4
5
6
7
8
9
10

In [65]:

n = int(input("Enter a positive integer n: "))
sum_natural_numbers = 0
current_number = 1
while current_number <= n:
    sum_natural_numbers += current_number
    current_number += 1
print(f"The sum of the first {n} natural numbers is: {sum_natural_numbers}")

Enter a positive integer n: 4
The sum of the first 4 natural numbers is: 10

In [66]:

n = int(input("Enter a non-negative integer: "))
factorial = 1
if n < 0:
    print("Factorial is not defined for negative numbers.")
else:
    for i in range(1, n + 1):
        factorial *= i
    print(f"The factorial of {n} is: {factorial}")

Enter a non-negative integer: 3
The factorial of 3 is: 6

In [68]:

numbers = []
while True:
    number = int(input("Enter a number (0 to stop): "))

    if number == 0:
        break
    numbers.append(number)
print("You entered the following numbers:", numbers)

Enter a number (0 to stop): 77
Enter a number (0 to stop): 66
Enter a number (0 to stop): 889
Enter a number (0 to stop): 4
Enter a number (0 to stop): 3
Enter a number (0 to stop): 0
You entered the following numbers: [77, 66, 889, 4, 3]

In [71]:

while True:
    number = int(input("Enter a number (even number to stop): "))
    if number % 2 == 0:
        print("You entered an even number. Stop the program.")
        break

Enter a number (even number to stop): 3
Enter a number (even number to stop): 7
Enter a number (even number to stop): 4
You entered an even number. Stop the program.

In [72]:

correct_password = "mypassword"
while True:
    password = input("Enter the password: ")

    if password == correct_password:
        print("Access granted.")
        break
    else:
        print("Incorrect password. Please try again.")

Enter the password: mhk
Incorrect password. Please try again.
Enter the password: mypassword
Access granted.

In [74]:

secret_number = 7
while True:
    guess = int(input("Guess the secret number (between 1 and 10): "))

    if guess == secret_number:
        print("Congratulations! You've guessed the correct number.")
        break
    else:
        print("Wrong guess. Try again.")

Guess the secret number (between 1 and 10): 5
Wrong guess. Try again.
Guess the secret number (between 1 and 10): 7
Congratulations! You've guessed the correct number.

In [75]:

number = 1
while number <= 10:
    if number == 5:
        print("Stopping at 5.")
        break
    print(number)
    number += 1

1
2
3
4
Stopping at 5.

In [76]:

for number in range(1, 11):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9

In [77]:

for number in range(1, 11):
    if number == 5:
        continue
    print(number)

1
2
3
4
6
7
8
9
10

In [78]:


while True:
    user_input = input("Enter a number (or type 'exit' to stop): ")

    if user_input.lower() == 'exit':
        print("Exiting the program.")
        break

    try:
        number = float(user_input)
    except ValueError:
        print("Please enter a valid number.")
        continue

    if number < 0:
        continue
    else:
        print(f"Positive number: {number}")

Enter a number (or type 'exit' to stop): 5
Positive number: 5.0
Enter a number (or type 'exit' to stop): 4
Positive number: 4.0
Enter a number (or type 'exit' to stop): 0
Positive number: 0.0
Enter a number (or type 'exit' to stop): -1
Enter a number (or type 'exit' to stop): exit
Exiting the program.

In [79]:

for number in range(1, 21):
    if number % 3 == 0:
        continue
    print(number)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [80]:


while True:
    number = int(input("Enter a number (even number to stop): "))

    if number % 2 != 0:
        print("Odd number entered. Please enter an even number.")
        continue
    else:
        print(f"You entered an even number: {number}")
        break

Enter a number (even number to stop): 5
Odd number entered. Please enter an even number.
Enter a number (even number to stop): 2
You entered an even number: 2

ASSIGNMENT 6

In [81]:

for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [82]:

for number in range(1, 21):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20

In [83]:

number = 5
for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [84]:

n = int(input("Enter a positive integer n: "))
sum_natural_numbers = 0
for i in range(1, n + 1):
    sum_natural_numbers += i
print(f"The sum of the first {n} natural numbers is: {sum_natural_numbers}")

Enter a positive integer n: 5
The sum of the first 5 natural numbers is: 15

In [85]:

input_string = input("Enter a string to reverse: ")
reversed_string = ""
for i in range(len(input_string) - 1, -1, -1):
    reversed_string += input_string[i]
print("Reversed string:", reversed_string)

Enter a string to reverse: mhk
Reversed string: khm

In [86]:

input_string = input("Enter a string: ")
vowel_count = 0
vowels = "aeiouAEIOU"
for char in input_string:
    if char in vowels:
        vowel_count += 1
print("Number of vowels in the given string:", vowel_count)

Enter a string: mehaksharma
Number of vowels in the given string: 4

In [87]:

my_list = [10, 20, 30, 40, 50]
for element in my_list:
    print(element)

10
20
30
40
50

In [88]:

n = int(input("Enter a positive integer: "))
factorial = 1
for i in range(1, n + 1):
    factorial *= i
print(f"The factorial of {n} is: {factorial}")

Enter a positive integer: 6
The factorial of 6 is: 720

In [89]:

numbers = [10, 25, 3, 45, 18, 7, 99, 2]
largest_number = numbers[0]
for number in numbers:
    if number > largest_number:
        largest_number = number
print("The largest number in the list is:", largest_number)

The largest number in the list is: 99

In [90]:

for number in range(1, 11):
    if number == 5:
        break
    print(number)

1
2
3
4

In [91]:

numbers = [1, 3, 5, 7, 8, 10, 13, 15]
for number in numbers:
    if number % 2 == 0:
        print("The first even number in the list is:", number)
        break

The first even number in the list is: 8

In [92]:

word = input("Enter a word: ")
for index, char in enumerate(word):
    if char == 'a':
        print(f"The first occurrence of 'a' is at index: {index}")
        break
else:
    print("The letter 'a' is not found in the word.")

Enter a word: banana
The first occurrence of 'a' is at index: 1

In [93]:

correct_password = "mypassword"
while True:
    password = input("Enter the password: ")
    if password == correct_password:
        print("Access granted!")
        break
    else:
        print("Incorrect password. Please try again.")

Enter the password: mhk
Incorrect password. Please try again.
Enter the password: mypassword
Access granted!

In [94]:

number = 7
for i in range(1, 6):
    result = number * i
    print(f"{number} x {i} = {result}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35

In [95]:

for number in range(1, 11):
    if number == 5:
        continue
    print(number)

1
2
3
4
6
7
8
9
10

In [96]:

for number in range(1, 11):
    if number % 2 != 0:
        print(number)

1
3
5
7
9

In [97]:

number = 3
for i in range(1, 11):
    result = number * i
    if result % 6 == 0:
        continue
    print(f"{number} x {i} = {result}")

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [98]:

word = input("Enter a word: ")
vowels = "aeiouAEIOU"
for char in word:
    if char not in vowels:
        print(char, end='')

Enter a word: mhksharma
mhkshrm

In [99]:

numbers = [10, -5, 3, -1, 7, -8, 0, 15, -2]
for number in numbers:
    if number > 0:
        print(number)

10
3
7
15

In [100]:

for number in range(1, 21):
    if number % 4 == 0:
        continue
    print(number)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

In [101]:

for i in range(1, 6):
    print(f"Multiplication table for {i}:")
    for j in range(1, 11):
        result = i * j
        print(f"{i} x {j} = {result}")

    print()

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50